<h1>THRIVE</h1>

        <div class="container">
            <div class="row">
                <div class="col s12 m6 offset-m3">

                            <a href="#" style="width:100%" class="main btn waves-effect indigo">Login</a>
                            <a href="#" style="width:100%" class="main btn waves-effect indigo">Signup</a>
                </div>
            </div>
            </div>


<%= link_to "Sign up", "/signup", class: "btn btn-primary" %>
<%= link_to "Login", "/login", class: "btn btn-primary" %>

<div class="well">
    Current User:
    <%= @current_user.inspect %>
</div>

<%= link_to "Logout", "/auth/logout", class: "btn btn-primary" %>
