	<div class="center">
		<h1>GARDEN PARTY</h1>
		<h4 class="text1">helping you keep your plants alive</h4><br>
				<div class="container1">
						<h3>A watering schedule<h3>
						<h3>customized for</h3>
						<h3>YOUR GARDEN</h3>
						<h3>synced with the weather</h3>
			</div>
	</div>

	<br>

     <div class="row container center">
					<%= link_to "Sign up", "/signup", class: "col s12 offset-m4 m2 center main btn" %>
					<%= link_to "Login", "/login", class: "col s12 offset- m2 center main btn" %>
       </div>





