* {
    color: black;
}

body {
    font-family: 'Raleway-Bold';
    color: rgb(43, 43, 43);
}

h1,
h2 {
    font-family: 'Gravitas One' !important;
}

.btn {
    margin-bottom: 5px;
    margin-left: 3em;
    margin-right: 3em;
    background-color: rgb(134, 210, 201);
    color: black;
}

nav {
    background-color: rgba(134, 210, 201, .5);
    color: black;
}

li {
    color: black;
}

.profile-section {
    margin-bottom: 1em;
}

.profile-section img {
    width: 30%;
}

.day {
    width: 14%;
    height: 300px;
}

.plants {
    height: 780px;
}

.water-schedule {
    position: relative;
    height: 100%;
}

.water-schedule button {
    position: absolute;
    bottom: 0;
    right: 50%;
}

.water-schedule img {
    width: 60%;
}

.water-schedule p {
    width: 80%;
}

.water-display {
    height: 100px;
}

.weather-display {
    height: 100px;
}

.calendar img {
    max-height: 50px;
}

.calendar {
    height: 300px;
}

.facebook {
    background-color: rgba(59, 89, 152, 1);
    margin-bottom: 1em;
}

.text1 {
    margin-top: -30px;
}

.container1 {
    line-height: 90%x;
}

.directions img {
    max-height: 100px;
}

.container1 {
    line-height: 90px;
}

#mobile {
    background-color: grey;
}

.submit {
    background-color: rgb(214, 229, 78);
}

#logo img {
    height: 100%;
    padding-left: 1em;
}

nav ul a {
    color: black;
}

#divider {
    border-left: 1px solid grey;
}
