<div class="center-align">
    <h3>Schedule for Week of</h3>
    <h1>MAY 29 - JUNE 4</h1>


    <div class ="container">
        <div class ="calendar">
           <%= week_calendar do |date| %>

               <%=date.mday%>
               <div class="water-display">
               <%if date.wday == 1 || date.wday == 4%>
                    <img src="/Drops.png">
                <%end%>
                </div>
                <div class="weather-display">
                    <%if date.wday == 1 || date.wday == 4%>
                        <img src="/Sunny.png">
                    <%elsif date.wday ==2%>
                        <img src="/storm.png">
                    <%else%>
                        <img src="/Rain.png">
                    <%end%>
                </div>
            <%end%>
        </div>

        <div class ="left-align directions">
        <div class="row">
                <h2>Monday</h2>
            <div class="col s6">
                <p>Water your weekly and daily plants:</p>
                <img src="dw.png">
            </div>
        </div>
        <div class="row">
                <h2>Thursday</h2>
            <div class="col s6">
                <p>Water your daily plants:</p>
                <img src="d.png">
            </div>
        </div>

        </div>
</div>
