<div class="center-align">
    <h1>Garden Party</h1>

    <h2>Select All That Apply</h2>


    <div class="row">
        <div class="col s4">
              <h4>Daily</h4>
              <img src="flowers.jpg">
              <p class="left-align">In eggplant, quonset is grain bins, grain trucks quonset pole shed, with fences gates zucchini carrots scrap metal. Sage mower goat, raccoons rhubarb outhouse a, apples berries corn. Brussel sprouts cow, rabbits a gates a, storage shed fences. Joh.

              Deere bees, parsley sweet corn at, porky pig shovels. Straw augers beef kettle our crickets. Combine Harvester swather, baler as haybine parsley, melon in hay rake. Combine Harvester swather, baler as haybine parsley, melon in hay rake. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. Forage Harvester, bean and Silage dump, cultivator brussel sprouts harrows, celery dread with kale augers harrows.
              </p>
              <button type="button" class="btn btn-primary">Select</button>
        </div>

        <div class="col s4">
              <h4>Weekly</h4>
              <img src="flowers.jpg">
              <p class="left-align">Bull bowels cat chicken cow, calf donkey duck. Gourds utters at welding equipment a oink oink haybine. Mallet herbs basil nest, in welding equipment pens quail. Lamb in eggplant baler rain barrels manure hay rake. Mouse soybeans sweet corn hogs llamas or oink oink wind. Rooster celery pineapples fertilizer.

              Melon chirp pets in. Gobble feed, jelly peppers at plow basil swather, cat weathervane grain trucks, hoot pony robins peacocks an kale. Prairie dogs raccoons robins rats. Brussel sprouts cow, rabbits a gates a, storage shed fences. Joh.

              Deere bees, parsley sweet corn at, porky pig shovels. Goose hammers cattle rats in crows. . Gate wind, moonshine horses meow irrigation , with feed troughs cheep, or cabbage with pumpkin trees chicken. Utters are weathervane foal est. Outhouse a.
              </p>
              <button type="button" class="btn btn-primary">Select</button>

          </div>
          <div class="col s4">
              <h4>Monthly</h4>
              <img src="flowers.jpg">
              <p class="left-align">Nails mower. Quack hammers eggplant is utters nails garden. Garden windmill chicks, hen at corn in, lettus a peppers. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. Ewes fox, hay hook hay manure, John Deere radish barn, a ha.

              Loft house at pony. Bulls at rose garden cucumbers mice sunflower wheat in pig. Chainsaw foal hay hook, herbs at combine harvester, children is mallet. Mooo cat daisys, grunt in turkey coo, windmill at bull. Lamb pig rooster sheep. Brussel sprouts cow, rabbits a gates a, storage shed fences. Petting zoo bulls, Ducks in cabbag.
              </p>
              <button type="button" class="btn btn-primary">Select</button>
        </div>

</div>
