<h1>Plants</h1>



    <div class="row">
        <div class="col s4">
          <div class="card small">

            <div class="card-image">
              <img src="flowers.jpg">
              <span class="card-title">Potted Plant</span>
            </div>

            <div class="card-content">
              <p>This is Potted Plant</p>
            </div>

            <div class="card-action">
              <a href="#">This is a link</a>
            </div>

          </div>
        </div>



        <div class="col s4">
          <div class="card small">

            <div class="card-image">
              <img src="flowers.jpg">
              <span class="card-title">Trees</span>
            </div>

            <div class="card-content">
              <p>This Plant is a Tree</p>
            </div>

            <div class="card-action">
              <a href="#">This is a link</a>
            </div>

          </div>
        </div>




        <div class="col s4">
          <div class="card small">

            <div class="card-image">
              <img src="flowers.jpg">
              <span class="card-title">Shrubs</span>
            </div>

            <div class="card-content">
              <p>This is a Shrub</p>
            </div>

            <div class="card-action">
              <a href="#">This is a link</a>
            </div>

          </div>
        </div>
        </div>



