<div class="center">
<h1>GARDEN PARTY</h1>
<h2>helping you keep your plants alive</h2>
<br>
<h3>A watering schedule schedule customized for</h3>
<h3>your garden synced with the weather</h3>
</div>

<div class="container center">
<div class="row col s12 offset-m4 m2">
<p>We are six friends who are recently bought our first home that had pre-existing landscaping that we all
 promptly managed to kill our plants. So we went to facebook to find others who also had managed to kill really pretty flowering
 plants.  From the more knowledgeable out there.  We discovered that there were many other like us.  So we go together and hacked an app.</p>
 </div>

<div class="row col s12 offset-m4 m2 center"><img src="/gardenpartiers.jpg">
</div>
</div>
