<h1>Profile#edit</h1>
<p>Find me in app/views/profile/edit.html.erb</p>

<h1>Edit Profile Page</h1>

<%=form_for :user do |u|%>
    <%=u.text_field :name, placeholder: "@current_user[:name]"%>
<%end%>
